
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
        background-color: #ff6200;
        color:white;
    }

    button {
        background-color: #ff6200;
        color:white;

    }
    button::hover{
        background-color: #ff6200;
        color:white;

    }
    .container >button :focus {
        outline: none;
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:50%;
    }

