
.container {
        justify-content: center; 
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        flex: 1
    }

    .container > .card {
        width: 40%;
    }
    button {
        background-color: orange;
        color:white;

    }
    button::hover{
        background-color: orange;
        color:white;

    }
    .container >button :focus {
        outline: none;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
        background-color: orange;
        color:white;
    }

    .card-header >h2 {
        color:orange;
    }