<mat-toolbar color='primary' class="navbar">
  <div>Titans Bank</div>
  <div>



  </div>
</mat-toolbar>
<div class="main-div">
  <mat-card class="example-card selected-card addCard" routerLink="add">
    <mat-card-header>
      <mat-icon class="custom-color">add</mat-icon>
      <mat-card-title class="custom-color">Add a new account</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card selected-card" *ngFor="let card of obs | async">
    <mat-card-header (click)="edit(card)">
      <mat-icon class="custom-color">edit</mat-icon>

      <mat-card-title class="custom-color">{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.accountnumber}}</mat-card-subtitle>
      <mat-card-subtitle>{{card.bank}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>
